@font-face{
    font-family: vidaloka;
    src: url(./fonts/Vidaloka-Regular.ttf);
}
@font-face{
    font-family: walbaum;
    src: url(./fonts/Walbaum-Roman.otf);
}
@font-face{
    font-family: quickb;
    src: url(./fonts/Quicksand_Book.otf);
}