.pt-gallery{
    background-image: url(./images/gallery/claudio-testa-iqeG5xA96M4-unsplash.jpg);
}
.gallery-main{
    margin:110px 0;
    .wrapper{
        display: grid;
        grid-template-columns: 1fr;
        gap:20px;
        .image{
            width: 100%;
            height: 300px;
            @include backImg();
        }
        .img1{
            background-image: url(./images/gallery/andrew-neel-acowe0pCVBg-unsplash.jpg);
        }
        .img2{
            background-image: url(./images/gallery/anthony-delanoix-ae1zKHoreQ8-unsplash.jpg);
        }
        .img3{
            background-image: url(./images/gallery/anthony-delanoix-gp6hQuZFRLM-unsplash.jpg);
        }
        .img4{
            background-image: url(./images/gallery/birmingham-museums-trust-G70apFxSF_g-unsplash.jpg);
        }
        .img5{
            background-image: url(./images/gallery/exhib5.jpg);
        }
        .img6{
            background-image: url(./images/gallery/exhib6.jpg);
        }
        .img7{
            background-image: url(./images/gallery/exhib7.jpg);
        }
        .img8{
            background-image: url(./images/gallery/exhibition1-chris-nguyen.jpg);
        }
        .img9{
            background-image: url(./images/gallery/exhibition3-ryan-stefan.jpg);
        }
        .img10{
            background-image: url(./images/gallery/kaiyu-wang-1W1bS1Mwq-4-unsplash.jpg);
        }
        .img11{
            background-image: url(./images/gallery/nick-cozier-1nuIp0OAod4-unsplash.jpg);
        }
        .img12{
            background-image: url(./images/gallery/Virtual-Museum.png);
        }
    }
}
@media only screen and (min-width:700px){
    .gallery-main{
        .wrapper{
            grid-template-columns: 1fr 1fr;
            gap:30px;
            .img3{
                grid-column-start: 1;
                grid-column-end: 3;
            }
            .img8{
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }
    }
}
@media only screen and (min-width:1280px){
    .gallery-main{
        .wrapper{
            grid-template-columns: repeat(4,1fr);
            .image{
                height: 250px;
                grid-column-start: auto;
                grid-column-end: auto;
            }
            .img1{
                height: 530px;
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 3;
            }
            .img4{
                height: 530px;
                grid-column-start: 3;
                grid-column-end: 5;
                grid-row-start: 2;
                grid-row-end: 4;
            }
            .img7{
                height: 530px;
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 4;
                grid-row-end: 6;
            }
            .img10{
                height: 530px;
                grid-column-start: 3;
                grid-column-end: 5;
                grid-row-start: 5;
                grid-row-end: 7;
            }
            
        }
    }
}