.pt-about{
    background-image: url(./images/about/amy-leigh-barnard-wcd5veuiC_0-unsplash.jpg);
}
section.about-overview{
    margin:50px 0;
    .wrapper{
        display: grid;
        grid-template-columns: 1fr;
        gap:20px;
        .heading{
            h2{
                span{
                    color:#797979;
                }
                margin-bottom: 50px;
            }
        }       
        .text{
            line-height: 160%;
            p{
                margin-bottom: 20px;
            }
        }
        .photo-div{
            .photo{
                width: 100%;
                height: 200px;
                @include backImg();
                background-image: url(./images/about/Virtual-Museum.jpg);
                margin-bottom:10px;
            }
            p{
                font-size: 0.8em;
            }
        }
    }
    
}
@media only screen and (min-width:700px){
    section.about-overview{
        .wrapper{
            .photo-div{
                .photo{
                    height: 400px;
                }
            }
        }
    }
}
@media only screen and (min-width:1000px){
    section.about-overview{
        .wrapper{
            grid-template-columns: 1fr 1fr 1fr;
            gap: 30px;
            .photo-div{
                .photo{
                    height: 220px;
                }
            }
        }
    }
}
