section.page-top{
    &.pt-contact{
        background-image: url(./images/contact/kaiyu-wang-1W1bS1Mwq-4-unsplash.jpg);
        background-position: bottom;
    }
}

section.contact-field{
    margin:70px 0;
    .wrapper{
        display: grid;
        grid-template-columns: 1fr;
        gap:30px;
        .text{
            h2{
                margin-bottom: 40px;
            }
            h3{
                margin-bottom: 20px;
            }
            p{
                line-height: 130%;
            }
        }
        .photo{
            width: 100%;
            height: 430px;
            @include backImg();
            background-image: url(./images/contact/nick-cozier-1nuIp0OAod4-unsplash.jpg);
        }
        .form{
            min-height: 400px;
            form{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                input{
                    font-family: quickb;
                    border:none;
                    border-bottom: 2px solid rgba(32, 32, 32, 0.596);
                    width: 100%;
                    height: 35px;
                }
                textarea{
                    font-size: 0.9em;
                    font-family: quickb;
                    border:none;
                    border-bottom: 2px solid rgba(32, 32, 32, 0.596);
                    width: 100%;
                    height: 200px;
                    resize: none;
                }
                input#submit{
                    border:none;
                    cursor: pointer;
                    transition: all 0.1s;
                    &:hover{
                        font-size: 1.01em;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:1000px){
    section.contact-field{
        .wrapper{
            gap:30px;
            grid-template-columns: 25% 35% 40%;
        }
    }
}