.pt-exhib{
    background-image: url(./images/home/exhibback.jpg);
}

section.home-exhibitions{
    .wrapper{
        .exhibitions{
            .exhib-n5{
                .ex-photo{
                    background-image: url(./images/home/exhib5.jpg);
                }
            }
            .exhib-n6{
                .ex-photo{
                    background-image: url(./images/home/exhib6.jpg);
                }
            }
            .exhib-n7{
                .ex-photo{
                    background-image: url(./images/home/exhib7.jpg);
                }
            }
            .exhib-n8{
                .ex-photo{
                    background-image: url(./images/home/exhib8.jpg);
                }
            }
        }
    }
}