section.page-top{
    &.pt-events{
        background-image: url(./images/events/mana5280.jpg);
        background-position: bottom;
    }
}
section.events-info{
    margin:50px 0;
    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 160px;
            margin-bottom: 20px;
        }
        p{
            text-align: center;
            font-size: 1.5em;
        }
    }
}
section.events-slide{
    .wrapper{
        .event{
            .event-p1{
                background-image: url(./images/events/andrew-neel-acowe0pCVBg-unsplash.jpg);
            }
            .event-p2{
                background-image: url(./images/events/anthony-delanoix-gp6hQuZFRLM-unsplash.jpg);
            }
            .event-p3{
                background-image: url(./images/events/birmingham-museums-trust-G70apFxSF_g-unsplash.jpg);
            }
            .event-p4{
                background-image: url(./images/events/kaiyu-wang-1W1bS1Mwq-4-unsplash.jpg);
            }
            .event-p5{
                background-image: url(./images/events/nick-cozier-1nuIp0OAod4-unsplash.jpg);
            }
            .event-p6{
                background-image: url(./images/events/robert-junkin-fkDNrS0HNvQ-unsplash.jpg);
            }
        }
    }
}

@media only screen and (min-width:1000px){
    section.events-info{
        padding-bottom:50px;
        border-bottom: 1px solid rgb(177, 177, 177);
        .wrapper{
            flex-direction: row;
            img{
                width: 200px;
                margin-right: 30px;
            }
            p{
                text-align: left;
                font-size: 1.6em;
            }
        }
    }
}