section.home_top{
    /*display: flex;
    justify-content: center;
    align-items:left;
    flex-direction: column;*/
    width: 100%;
    height: 600px;
    padding:0 40px;
    color:#fff;
    @include backImg();
    background-image:url(./images/home/home-back-igor-miske.jpg);
    background-attachment: fixed;
    background-position: center 0px;
    h1{
        padding-bottom: 50px;
        width: 100%;
        text-align: center;
    }
    a{
        color:#fff;
        font-size: 1.1em;
        transition: all 0.2s;
        &:hover{
            color:rgb(221, 191, 152);
        }
    }
    .centering{
        position: relative;
        top:50%;
        transform: translateY(-50%);
    }
}
section.welcome{
    //border:1px solid blue;
    margin-top:110px;
    margin-bottom: 70px;
    //border:2px solid orangered;
    .wrapper{
        display: grid;
        grid-template-columns: 1fr;
        gap:30px;
        .text{
            //border:2px solid blue;
            h3{
                margin-bottom: 30px;
                margin-top: 70px;
            }
            p{
                line-height: 170%;
                margin-bottom: 60px;
            }
            a{
                color:#000;
                color:#000;
                transition: all 0.2s;
                &:hover{
                    color:rgb(122, 122, 122);
                }
            }
        }
        .photo{
            //border:2px solid red;
            @include backImg();
            background-size: contain;
            background-image: url(./images/home/welcome.png);
            width: 100%;
            height: 220px;
        }
    }
}
section.home-exhibitions{
    //border:1px solid blue;
    margin:70px 0;
    .wrapper{
        h2{
            margin-bottom: 50px;
        }
        .exhibitions{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            gap:40px;
            .exhib{
                overflow: hidden;
                .ex-photo{
                    position: relative;
                    a{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top:0;
                        z-index: 12;
                    }
                    /*wrapper width - 40px*/
                    width:315px;
                    height: 315px;
                    @include backImg();
                    background-image: url(./images/home/exhibition1-chris-nguyen.jpg);
                    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.068);
                    margin:0 auto;
                    transition: all .3s;
                    cursor: pointer;
                    transition: all .3s;
                    &:hover{
                        transform: scale(1.05);
                        filter: brightness(100%);
                        &::after{
                            transition: all .3;
                            content: '';
                            width: 25%;
                            height: 25%;
                            position: absolute;
                            top:50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            @include backImg();
                            background-image: url(./images/home/link.png);
                        }
                    }
                    
                }
                p.heading{
                    font-size: 1.2em;
                    margin:20px 0;
                }
                p.desc{
                    line-height: 140%;
                }
            }
            .exhib-n1{
                .ex-photo{
                    background-image: url(./images/home/exhibition1-chris-nguyen.jpg);
                }
            }
            .exhib-n2{
                .ex-photo{
                background-image: url(./images/home/exhibition2-brett-jordan.jpg);
                }
            }
            .exhib-n3{
                .ex-photo{
                background-image: url(./images/home/exhibition3-ryan-stefan.jpg);
                }
            }
            .exhib-n4{
                .ex-photo{
                background-image: url(./images/home/exhibition4-artur-matosyan.jpg);
                }
            }
        }
    }
}
section.events-slide{
    //border:1px solid blue;
    margin:70px 0;
    h2{
        margin-bottom: 50px;
    }
    .event{
        display: grid;
        grid-template-columns: 1fr;
        //border:2px solid orange;
        gap:50px;
        //gtc: 1fr 1fr for responsive
        min-width: 100%;
        margin-bottom: 50px;
        transition: all 1s;
        .photo{
            width: 80%;
            margin:0 auto;
            @include backImg();
            background-image: url(./images/events/event-1-stale-grut.jpg);
            box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.555);
        }
        .event-p1{
            background-image: url(./images/events/event-1-stale-grut.jpg); 
        }
        .event-p2{
            background-image: url(./images/events/event-2.png); 
        }
        .text{
            h3{
                margin-bottom:30px;
            }
            p{
                line-height: 170%;
                margin-bottom: 60px;
            }
            a{
                color:#000;
                transition: all 0.2s;
                &:hover{
                    color:rgb(221, 191, 152);
                }
            }
        }
    }
}
@keyframes sliding{
    0%{
        opacity: 0;
        transform: translateY(40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

section.events-slide{
    .wrapper{
        /*Photo Animation*/
        .event-p1s{
            background-image: url(./images/events/event-3.png);
            //animation: sliding 1s cubic-bezier(0.19, 1, 0.22, 1);
        }
        .event-p2s{
            background-image: url(./images/events/event-4-nick-pryde.jpg);
        }
        .event-p1b{
            background-image: url(./images/events/event-1-stale-grut.jpg);
        }
        .event-p2b{
            background-image: url(./images/events/event-2.png); 
        }
        /*Text Animation*/
        .event{
            .text-slide{
                animation: sliding 1s cubic-bezier(0.19, 1, 0.22, 1);
            }
        }
        
    }
}
section.home-collection{
    margin:70px 0;
    padding:70px 0;
    //border:1px solid blue;
    @include backImg();
    color:#fff;
    background-image: url(./images/home/collection/featured-collection-william-krause.jpg);
    background-attachment: fixed;
    h2{
        line-height: 140%;
    }
    a{
        color:#fff;
        transition: all 0.2s;
        &:hover{
            color:rgb(221, 191, 152);
        }
    }
    .hc-slider{
        margin:50px 0;
        display: grid;
        grid-template-columns: 1fr;
        gap:30px;
        .photo{
            width: 100%;
            height: 170px;
            @include backImg();
            background-image: url(./images/home/collection/fc-1.png);
            background-size: contain;
        }
    }
    p.heading{
        font-size: 2.4em;
    }
    p.desc{
        padding:20px 0;
        line-height: 150%;
    }
}
section.testimonials{
    margin:0 auto;
    text-align: center;

    h2{
        margin-bottom: 40px;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        .slide{
            .photo{
                width: 270px;
                height: 270px;
                @include backImg();
                background-image: url(./images/home/testimonials-1.png);
                background-size: contain;
                margin:0 auto;
            }
            p.desc{
                line-height: 160%;
                padding:0 20px;
                text-align: center;
            }
            p.name{
                padding:30px 0;
                font-family: bodoni;
                color:$h3;
                font-size: 2.5em;
                text-align: center;
            }
        }
        .slide2{
            .photo{
                background-image: url(./images/home/testimonials-2.png);
            }
        }
        .slide3{
            .photo{
                background-image: url(./images/home/testimonials-3.png);
            }
        }
        .slide2, .slide3{
            display: none;
        }
    }
}
section.home-advanced{
    margin:50px 0;
    .wrapper{
        display: grid;
        grid-template-columns: 1fr;
        gap:90px;
        .ha-contain{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                width: 80px;
                margin-bottom: 23px;
                opacity: 0.25;
            }
            p{
                font-size: 1.1em;
                opacity: 0.8;
                font-family: walbaum,sans-serif;
            }
        }
    }
}


@media only screen and (min-width:480px){
    section.home_top{
        h1{
            font-size: 3.1em;
        }
        height: 650px;
    }
    section.welcome{
        .wrapper{
            .photo{
                height: 240px;
            }
        }
    }
    section.home-exhibitions{
        .wrapper{
            .exhibitions{
               .exhib{
                    .ex-photo{
                        width:419px;
                        height: 419px;
                    }
                }
            }
        }
    }
    section.home-collection{
        .hc-slider{
            .photo{
                height: 230px;
            }
        }
    }
}
@media only screen and (min-width:700px){
    section.home_top{
        h1{
            font-size: 4.4em;
        }
        a{
            font-size: 1.3em;
        }
    }
    section.welcome{
        .wrapper{
            .photo{
                height: 350px;
            }
        }
    }
    section.home-collection{
        .hc-slider{
            .photo{
                height: 380px;
            }
        }
    }
    section.home-advanced{
        .wrapper{
            grid-template-columns: repeat(3,1fr);
        }
    }
}
@media only screen and (min-width:768px){
    section.welcome{
        .wrapper{
            .photo{
                height: 360px;
            }
        }
    }
    section.home-exhibitions{
        .wrapper{
            .exhibitions{
                grid-template-columns: 1fr 1fr;
                gap:40px;
                .exhib{
                    .ex-photo{
                        width:303px;
                        height: 303px;
                    }
                }
            }
        }
    }
    section.testimonials{
        .wrapper{
            p.desc{
                max-width: 500px;
            }
        }
    }
}
@media only screen and (min-width:1000px){
    section.home_top{
        h1{
            font-size: 6.2em;
        }
        height: 750px;
    }
    section.welcome{
        .wrapper{
            grid-template-columns: 30% 70%;
            gap:10px;
            .photo{
                height: 420px;
            }
        }
    }
    section.home-exhibitions{
        .wrapper{
            .exhibitions{
                .exhib{
                    .ex-photo{
                        width: 450px;
                        height: 450px;
                    }
                    p.heading{
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
    section.events-slide{
        h2{
            margin-bottom: 90px;
        }
        .event{
            grid-template-columns: 1fr 1fr;
        }
    }
    section.home-collection{
        .hc-slider{
            grid-template-columns: 65% 34%;
            gap:0px;
            .photo{
                width: 610px;
            }
            .desc{
                padding:30px 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
    section.testimonials{
        .wrapper{
            flex-direction: row;
            .slide2, .slide3{
                display: inline-block;
            }
        }
    }
}
@media only screen and (min-width:1280px){
    section.home_top{
        height: 100vh;
            h1{
                font-size: 8em;
            }
            a{
                margin-left: 100px;
            }
    }
    section.welcome{
        .wrapper{
            .photo{
                height: 480px;
            }
        }
    }
    section.home-exhibitions{
        .wrapper{
            h2{
                margin-bottom: 90px;
            }
            .exhibitions{
                grid-template-columns: repeat(4,1fr);
                gap:20px;
                .exhib{
                    .ex-photo{
                        width:245px;
                        height: 245px;
                    }
                }
            }
        }
    }
    section.home-collection{
        .hc-slider{
            .photo{
                width: 720px;
                height: 420px;
            }
        }
    }
    section.home-advanced{
        .wrapper{
            grid-template-columns: repeat(6,1fr);
        }
    }
}
    