/*Important files*/
@font-face {
  font-family: vidaloka;
  src: url(./fonts/Vidaloka-Regular.ttf);
}

@font-face {
  font-family: walbaum;
  src: url(./fonts/Walbaum-Roman.otf);
}

@font-face {
  font-family: quickb;
  src: url(./fonts/Quicksand_Book.otf);
}

/*General Atributes*/
body {
  background-color: white;
  font-family: vidaloka,sans-serif;
  color: #222222;
}

body a {
  text-decoration: none;
}

body p {
  font-family: quickb;
}

body p.heading {
  font-family: quickb;
}

body p.desc {
  color: #979899;
}

body h1 {
  font-size: 2.2em;
  font-family: vidaloka;
}

body h2 {
  font-size: 2.5em;
  font-family: walbaum;
}

body h3 {
  font-size: 2.1em;
  color: #a6a695;
}

body .wrapper {
  max-width: 380px;
  margin: 0 auto;
  padding: 0 30px;
}

body section:not(section.home_top) a {
  font-family: quickb;
}

@-webkit-keyframes preloaderHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes preloaderHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body .preloaderHide {
  -webkit-animation: preloaderHide 1s linear;
          animation: preloaderHide 1s linear;
}

body .preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #10181d;
  z-index: 5;
}

/*
header{
    //border:1px solid #000;
    //position: fixed;
    top:0;
    padding:0px 15px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
    font-family: walbaum;
    .logo{
        width: 160px;
        height: 50px;
        @include backImg();
        background-image: url(./images/logo_min_black.png);
        background-size: contain;
    }

    nav{
        ul{
            display: none;
        }
    }
    img.responsive_menu_icon{
        filter: brightness(0.6);
        display: inline;
        width: 15px;
        transition: all 0.2s;
        cursor: pointer;
        &:hover{
            filter: brightness(0.45);
        }
    }
}
*/
header {
  top: 0;
  padding: 0px 15px;
  width: 100%;
  background-color: #fff;
  height: 90px;
  font-family: walbaum;
  overflow: hidden;
}

header .logo {
  width: 160px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./images/logo_min_black.png);
  background-size: contain;
  display: inline-block;
  position: relative;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header nav {
  position: relative;
  top: 30px;
}

header nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(27, 27, 27, 0.137);
  height: 45px;
}

header nav ul li a {
  font-family: quickb,sans-serif;
  font-size: 0.9em;
  color: #979899;
}

header nav ul li a:hover {
  color: rgba(0, 0, 0, 0.829);
}

header img.responsive_menu_icon {
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
  display: inline-block;
  width: 15px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

header img.responsive_menu_icon:hover {
  -webkit-filter: brightness(0.45);
          filter: brightness(0.45);
}

@-webkit-keyframes headershow {
  0% {
    height: 90px;
  }
  100% {
    height: 400px;
  }
}

@keyframes headershow {
  0% {
    height: 90px;
  }
  100% {
    height: 400px;
  }
}

@-webkit-keyframes headerhide {
  0% {
    height: 400px;
  }
  100% {
    height: 90px;
  }
}

@keyframes headerhide {
  0% {
    height: 400px;
  }
  100% {
    height: 90px;
  }
}

header.show {
  -webkit-animation: headershow 0.3s cubic-bezier(0.55, 0.21, 0.72, 0.34) 0s;
          animation: headershow 0.3s cubic-bezier(0.55, 0.21, 0.72, 0.34) 0s;
  height: 400px;
}

header.hide {
  -webkit-animation: headerhide 0.3s cubic-bezier(0.55, 0.21, 0.72, 0.34) 0s;
          animation: headerhide 0.3s cubic-bezier(0.55, 0.21, 0.72, 0.34) 0s;
  height: 90px;
}

footer {
  background-color: #e2e2d3;
}

footer .wrapper {
  margin-top: 80px;
}

footer .wrapper .footer-up {
  padding: 80px 30px;
}

footer .wrapper .footer-up .nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-bottom: 20px;
  font-family: walbaum;
}

footer .wrapper .footer-up .nav img {
  width: 180px;
  margin: 0 auto;
}

footer .wrapper .footer-up .nav ul {
  padding: 20px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

footer .wrapper .footer-up .nav ul li {
  text-align: center;
  padding: 10px 0;
}

footer .wrapper .footer-up .nav ul li a {
  color: #000;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

footer .wrapper .footer-up .nav ul li a:hover {
  color: #5a5a5a;
}

footer .wrapper .footer-up .infos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 30px;
}

footer .wrapper .footer-up .infos .info-inner {
  line-height: 140%;
}

footer .wrapper .footer-up .infos .info-inner p.heading {
  font-size: 1.2em;
  padding-bottom: 10px;
}

footer .wrapper .footer-up .infos .info-inner .desc {
  color: #797979;
}

footer .wrapper .footer-up .infos .info-inner a {
  color: #797979;
  font-family: sans-serif;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

footer .wrapper .footer-up .infos .info-inner a:hover {
  color: #000;
}

footer .footer-bottom {
  height: 50px;
  color: #8a8a8a;
  background-color: #10181d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-bottom p {
  width: 100%;
  text-align: center;
  font-family: quickb;
  font-size: 0.8em;
}

section.page-top {
  height: 490px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.page-top h2 {
  width: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  color: #fff;
  font-size: 4em;
}

/*Currently page*/
/*Other Files*/
section.home_top {
  /*display: flex;
    justify-content: center;
    align-items:left;
    flex-direction: column;*/
  width: 100%;
  height: 600px;
  padding: 0 40px;
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./images/home/home-back-igor-miske.jpg);
  background-attachment: fixed;
  background-position: center 0px;
}

section.home_top h1 {
  padding-bottom: 50px;
  width: 100%;
  text-align: center;
}

section.home_top a {
  color: #fff;
  font-size: 1.1em;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

section.home_top a:hover {
  color: #ddbf98;
}

section.home_top .centering {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

section.welcome {
  margin-top: 110px;
  margin-bottom: 70px;
}

section.welcome .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 30px;
}

section.welcome .wrapper .text h3 {
  margin-bottom: 30px;
  margin-top: 70px;
}

section.welcome .wrapper .text p {
  line-height: 170%;
  margin-bottom: 60px;
}

section.welcome .wrapper .text a {
  color: #000;
  color: #000;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

section.welcome .wrapper .text a:hover {
  color: #7a7a7a;
}

section.welcome .wrapper .photo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
  background-image: url(./images/home/welcome.png);
  width: 100%;
  height: 220px;
}

section.home-exhibitions {
  margin: 70px 0;
}

section.home-exhibitions .wrapper h2 {
  margin-bottom: 50px;
}

section.home-exhibitions .wrapper .exhibitions {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 40px;
}

section.home-exhibitions .wrapper .exhibitions .exhib {
  overflow: hidden;
}

section.home-exhibitions .wrapper .exhibitions .exhib .ex-photo {
  position: relative;
  /*wrapper width - 40px*/
  width: 315px;
  height: 315px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./images/home/exhibition1-chris-nguyen.jpg);
  -webkit-box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.068);
          box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.068);
  margin: 0 auto;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
  transition: all .3s;
}

section.home-exhibitions .wrapper .exhibitions .exhib .ex-photo a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 12;
}

section.home-exhibitions .wrapper .exhibitions .exhib .ex-photo:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

section.home-exhibitions .wrapper .exhibitions .exhib .ex-photo:hover::after {
  -webkit-transition: all .3;
  transition: all .3;
  content: '';
  width: 25%;
  height: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./images/home/link.png);
}

section.home-exhibitions .wrapper .exhibitions .exhib p.heading {
  font-size: 1.2em;
  margin: 20px 0;
}

section.home-exhibitions .wrapper .exhibitions .exhib p.desc {
  line-height: 140%;
}

section.home-exhibitions .wrapper .exhibitions .exhib-n1 .ex-photo {
  background-image: url(./images/home/exhibition1-chris-nguyen.jpg);
}

section.home-exhibitions .wrapper .exhibitions .exhib-n2 .ex-photo {
  background-image: url(./images/home/exhibition2-brett-jordan.jpg);
}

section.home-exhibitions .wrapper .exhibitions .exhib-n3 .ex-photo {
  background-image: url(./images/home/exhibition3-ryan-stefan.jpg);
}

section.home-exhibitions .wrapper .exhibitions .exhib-n4 .ex-photo {
  background-image: url(./images/home/exhibition4-artur-matosyan.jpg);
}

section.events-slide {
  margin: 70px 0;
}

section.events-slide h2 {
  margin-bottom: 50px;
}

section.events-slide .event {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 50px;
  min-width: 100%;
  margin-bottom: 50px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

section.events-slide .event .photo {
  width: 80%;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./images/events/event-1-stale-grut.jpg);
  -webkit-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.555);
          box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.555);
}

section.events-slide .event .event-p1 {
  background-image: url(./images/events/event-1-stale-grut.jpg);
}

section.events-slide .event .event-p2 {
  background-image: url(./images/events/event-2.png);
}

section.events-slide .event .text h3 {
  margin-bottom: 30px;
}

section.events-slide .event .text p {
  line-height: 170%;
  margin-bottom: 60px;
}

section.events-slide .event .text a {
  color: #000;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

section.events-slide .event .text a:hover {
  color: #ddbf98;
}

@-webkit-keyframes sliding {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes sliding {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

section.events-slide .wrapper {
  /*Photo Animation*/
  /*Text Animation*/
}

section.events-slide .wrapper .event-p1s {
  background-image: url(./images/events/event-3.png);
}

section.events-slide .wrapper .event-p2s {
  background-image: url(./images/events/event-4-nick-pryde.jpg);
}

section.events-slide .wrapper .event-p1b {
  background-image: url(./images/events/event-1-stale-grut.jpg);
}

section.events-slide .wrapper .event-p2b {
  background-image: url(./images/events/event-2.png);
}

section.events-slide .wrapper .event .text-slide {
  -webkit-animation: sliding 1s cubic-bezier(0.19, 1, 0.22, 1);
          animation: sliding 1s cubic-bezier(0.19, 1, 0.22, 1);
}

section.home-collection {
  margin: 70px 0;
  padding: 70px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  background-image: url(./images/home/collection/featured-collection-william-krause.jpg);
  background-attachment: fixed;
}

section.home-collection h2 {
  line-height: 140%;
}

section.home-collection a {
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

section.home-collection a:hover {
  color: #ddbf98;
}

section.home-collection .hc-slider {
  margin: 50px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 30px;
}

section.home-collection .hc-slider .photo {
  width: 100%;
  height: 170px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./images/home/collection/fc-1.png);
  background-size: contain;
}

section.home-collection p.heading {
  font-size: 2.4em;
}

section.home-collection p.desc {
  padding: 20px 0;
  line-height: 150%;
}

section.testimonials {
  margin: 0 auto;
  text-align: center;
}

section.testimonials h2 {
  margin-bottom: 40px;
}

section.testimonials .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.testimonials .wrapper .slide .photo {
  width: 270px;
  height: 270px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./images/home/testimonials-1.png);
  background-size: contain;
  margin: 0 auto;
}

section.testimonials .wrapper .slide p.desc {
  line-height: 160%;
  padding: 0 20px;
  text-align: center;
}

section.testimonials .wrapper .slide p.name {
  padding: 30px 0;
  font-family: bodoni;
  color: #a6a695;
  font-size: 2.5em;
  text-align: center;
}

section.testimonials .wrapper .slide2 .photo {
  background-image: url(./images/home/testimonials-2.png);
}

section.testimonials .wrapper .slide3 .photo {
  background-image: url(./images/home/testimonials-3.png);
}

section.testimonials .wrapper .slide2, section.testimonials .wrapper .slide3 {
  display: none;
}

section.home-advanced {
  margin: 50px 0;
}

section.home-advanced .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 90px;
}

section.home-advanced .wrapper .ha-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.home-advanced .wrapper .ha-contain img {
  width: 80px;
  margin-bottom: 23px;
  opacity: 0.25;
}

section.home-advanced .wrapper .ha-contain p {
  font-size: 1.1em;
  opacity: 0.8;
  font-family: walbaum,sans-serif;
}

@media only screen and (min-width: 480px) {
  section.home_top {
    height: 650px;
  }
  section.home_top h1 {
    font-size: 3.1em;
  }
  section.welcome .wrapper .photo {
    height: 240px;
  }
  section.home-exhibitions .wrapper .exhibitions .exhib .ex-photo {
    width: 419px;
    height: 419px;
  }
  section.home-collection .hc-slider .photo {
    height: 230px;
  }
}

@media only screen and (min-width: 700px) {
  section.home_top h1 {
    font-size: 4.4em;
  }
  section.home_top a {
    font-size: 1.3em;
  }
  section.welcome .wrapper .photo {
    height: 350px;
  }
  section.home-collection .hc-slider .photo {
    height: 380px;
  }
  section.home-advanced .wrapper {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 768px) {
  section.welcome .wrapper .photo {
    height: 360px;
  }
  section.home-exhibitions .wrapper .exhibitions {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  section.home-exhibitions .wrapper .exhibitions .exhib .ex-photo {
    width: 303px;
    height: 303px;
  }
  section.testimonials .wrapper p.desc {
    max-width: 500px;
  }
}

@media only screen and (min-width: 1000px) {
  section.home_top {
    height: 750px;
  }
  section.home_top h1 {
    font-size: 6.2em;
  }
  section.welcome .wrapper {
    -ms-grid-columns: 30% 70%;
        grid-template-columns: 30% 70%;
    gap: 10px;
  }
  section.welcome .wrapper .photo {
    height: 420px;
  }
  section.home-exhibitions .wrapper .exhibitions .exhib .ex-photo {
    width: 450px;
    height: 450px;
  }
  section.home-exhibitions .wrapper .exhibitions .exhib p.heading {
    font-size: 1.5em;
  }
  section.events-slide h2 {
    margin-bottom: 90px;
  }
  section.events-slide .event {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  section.home-collection .hc-slider {
    -ms-grid-columns: 65% 34%;
        grid-template-columns: 65% 34%;
    gap: 0px;
  }
  section.home-collection .hc-slider .photo {
    width: 610px;
  }
  section.home-collection .hc-slider .desc {
    padding: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section.testimonials .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  section.testimonials .wrapper .slide2, section.testimonials .wrapper .slide3 {
    display: inline-block;
  }
}

@media only screen and (min-width: 1280px) {
  section.home_top {
    height: 100vh;
  }
  section.home_top h1 {
    font-size: 8em;
  }
  section.home_top a {
    margin-left: 100px;
  }
  section.welcome .wrapper .photo {
    height: 480px;
  }
  section.home-exhibitions .wrapper h2 {
    margin-bottom: 90px;
  }
  section.home-exhibitions .wrapper .exhibitions {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  section.home-exhibitions .wrapper .exhibitions .exhib .ex-photo {
    width: 245px;
    height: 245px;
  }
  section.home-collection .hc-slider .photo {
    width: 720px;
    height: 420px;
  }
  section.home-advanced .wrapper {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

.pt-about {
  background-image: url(./images/about/amy-leigh-barnard-wcd5veuiC_0-unsplash.jpg);
}

section.about-overview {
  margin: 50px 0;
}

section.about-overview .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 20px;
}

section.about-overview .wrapper .heading h2 {
  margin-bottom: 50px;
}

section.about-overview .wrapper .heading h2 span {
  color: #797979;
}

section.about-overview .wrapper .text {
  line-height: 160%;
}

section.about-overview .wrapper .text p {
  margin-bottom: 20px;
}

section.about-overview .wrapper .photo-div .photo {
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./images/about/Virtual-Museum.jpg);
  margin-bottom: 10px;
}

section.about-overview .wrapper .photo-div p {
  font-size: 0.8em;
}

@media only screen and (min-width: 700px) {
  section.about-overview .wrapper .photo-div .photo {
    height: 400px;
  }
}

@media only screen and (min-width: 1000px) {
  section.about-overview .wrapper {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
  section.about-overview .wrapper .photo-div .photo {
    height: 220px;
  }
}

section.page-top.pt-events {
  background-image: url(./images/events/mana5280.jpg);
  background-position: bottom;
}

section.events-info {
  margin: 50px 0;
}

section.events-info .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.events-info .wrapper img {
  width: 160px;
  margin-bottom: 20px;
}

section.events-info .wrapper p {
  text-align: center;
  font-size: 1.5em;
}

section.events-slide .wrapper .event .event-p1 {
  background-image: url(./images/events/andrew-neel-acowe0pCVBg-unsplash.jpg);
}

section.events-slide .wrapper .event .event-p2 {
  background-image: url(./images/events/anthony-delanoix-gp6hQuZFRLM-unsplash.jpg);
}

section.events-slide .wrapper .event .event-p3 {
  background-image: url(./images/events/birmingham-museums-trust-G70apFxSF_g-unsplash.jpg);
}

section.events-slide .wrapper .event .event-p4 {
  background-image: url(./images/events/kaiyu-wang-1W1bS1Mwq-4-unsplash.jpg);
}

section.events-slide .wrapper .event .event-p5 {
  background-image: url(./images/events/nick-cozier-1nuIp0OAod4-unsplash.jpg);
}

section.events-slide .wrapper .event .event-p6 {
  background-image: url(./images/events/robert-junkin-fkDNrS0HNvQ-unsplash.jpg);
}

@media only screen and (min-width: 1000px) {
  section.events-info {
    padding-bottom: 50px;
    border-bottom: 1px solid #b1b1b1;
  }
  section.events-info .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  section.events-info .wrapper img {
    width: 200px;
    margin-right: 30px;
  }
  section.events-info .wrapper p {
    text-align: left;
    font-size: 1.6em;
  }
}

.pt-exhib {
  background-image: url(./images/home/exhibback.jpg);
}

section.home-exhibitions .wrapper .exhibitions .exhib-n5 .ex-photo {
  background-image: url(./images/home/exhib5.jpg);
}

section.home-exhibitions .wrapper .exhibitions .exhib-n6 .ex-photo {
  background-image: url(./images/home/exhib6.jpg);
}

section.home-exhibitions .wrapper .exhibitions .exhib-n7 .ex-photo {
  background-image: url(./images/home/exhib7.jpg);
}

section.home-exhibitions .wrapper .exhibitions .exhib-n8 .ex-photo {
  background-image: url(./images/home/exhib8.jpg);
}

.pt-gallery {
  background-image: url(./images/gallery/claudio-testa-iqeG5xA96M4-unsplash.jpg);
}

.gallery-main {
  margin: 110px 0;
}

.gallery-main .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 20px;
}

.gallery-main .wrapper .image {
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery-main .wrapper .img1 {
  background-image: url(./images/gallery/andrew-neel-acowe0pCVBg-unsplash.jpg);
}

.gallery-main .wrapper .img2 {
  background-image: url(./images/gallery/anthony-delanoix-ae1zKHoreQ8-unsplash.jpg);
}

.gallery-main .wrapper .img3 {
  background-image: url(./images/gallery/anthony-delanoix-gp6hQuZFRLM-unsplash.jpg);
}

.gallery-main .wrapper .img4 {
  background-image: url(./images/gallery/birmingham-museums-trust-G70apFxSF_g-unsplash.jpg);
}

.gallery-main .wrapper .img5 {
  background-image: url(./images/gallery/exhib5.jpg);
}

.gallery-main .wrapper .img6 {
  background-image: url(./images/gallery/exhib6.jpg);
}

.gallery-main .wrapper .img7 {
  background-image: url(./images/gallery/exhib7.jpg);
}

.gallery-main .wrapper .img8 {
  background-image: url(./images/gallery/exhibition1-chris-nguyen.jpg);
}

.gallery-main .wrapper .img9 {
  background-image: url(./images/gallery/exhibition3-ryan-stefan.jpg);
}

.gallery-main .wrapper .img10 {
  background-image: url(./images/gallery/kaiyu-wang-1W1bS1Mwq-4-unsplash.jpg);
}

.gallery-main .wrapper .img11 {
  background-image: url(./images/gallery/nick-cozier-1nuIp0OAod4-unsplash.jpg);
}

.gallery-main .wrapper .img12 {
  background-image: url(./images/gallery/Virtual-Museum.png);
}

@media only screen and (min-width: 700px) {
  .gallery-main .wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .gallery-main .wrapper .img3 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
  }
  .gallery-main .wrapper .img8 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media only screen and (min-width: 1280px) {
  .gallery-main .wrapper {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .gallery-main .wrapper .image {
    height: 250px;
    -ms-grid-column: auto;
        grid-column-start: auto;
    grid-column-end: auto;
  }
  .gallery-main .wrapper .img1 {
    height: 530px;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
  }
  .gallery-main .wrapper .img4 {
    height: 530px;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 5;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 4;
  }
  .gallery-main .wrapper .img7 {
    height: 530px;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 6;
  }
  .gallery-main .wrapper .img10 {
    height: 530px;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 5;
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 7;
  }
}

section.page-top.pt-contact {
  background-image: url(./images/contact/kaiyu-wang-1W1bS1Mwq-4-unsplash.jpg);
  background-position: bottom;
}

section.contact-field {
  margin: 70px 0;
}

section.contact-field .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 30px;
}

section.contact-field .wrapper .text h2 {
  margin-bottom: 40px;
}

section.contact-field .wrapper .text h3 {
  margin-bottom: 20px;
}

section.contact-field .wrapper .text p {
  line-height: 130%;
}

section.contact-field .wrapper .photo {
  width: 100%;
  height: 430px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./images/contact/nick-cozier-1nuIp0OAod4-unsplash.jpg);
}

section.contact-field .wrapper .form {
  min-height: 400px;
}

section.contact-field .wrapper .form form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.contact-field .wrapper .form form input {
  font-family: quickb;
  border: none;
  border-bottom: 2px solid rgba(32, 32, 32, 0.596);
  width: 100%;
  height: 35px;
}

section.contact-field .wrapper .form form textarea {
  font-size: 0.9em;
  font-family: quickb;
  border: none;
  border-bottom: 2px solid rgba(32, 32, 32, 0.596);
  width: 100%;
  height: 200px;
  resize: none;
}

section.contact-field .wrapper .form form input#submit {
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

section.contact-field .wrapper .form form input#submit:hover {
  font-size: 1.01em;
}

@media only screen and (min-width: 1000px) {
  section.contact-field .wrapper {
    gap: 30px;
    -ms-grid-columns: 25% 35% 40%;
        grid-template-columns: 25% 35% 40%;
  }
}

/*General Responsive media quiries*/
/*Small Tablets*/
@media only screen and (min-width: 480px) {
  body .wrapper {
    max-width: 480px;
  }
  footer .footer-up .nav ul {
    padding: 50px 0;
  }
}

@media only screen and (min-width: 700px) {
  body .wrapper {
    max-width: 700px;
  }
  body h2 {
    font-size: 3.5em;
  }
  footer .wrapper .footer-up .infos {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  header {
    padding: 0 40px;
  }
}

@media only screen and (min-width: 1000px) {
  body .wrapper {
    max-width: 1000px;
  }
  header {
    position: absolute;
    min-height: 110px;
    background-color: transparent;
  }
  header .logo {
    background-image: url(./images/logo_min_white.png);
    width: 200px;
    left: 100px;
    top: 27px;
  }
  header img.responsive_menu_icon {
    display: none;
  }
  header nav {
    position: absolute;
    right: 50px;
    top: 33px;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header nav ul li {
    padding-left: 30px;
    border: none;
  }
  header nav ul li a {
    color: #fff;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    font-family: walbaum;
  }
  header nav ul li a:hover {
    color: #ddbf98;
  }
  section.page-top h2 {
    font-size: 5em;
  }
  footer .wrapper .footer-up .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .wrapper .footer-up .nav img {
    margin: 0;
  }
  footer .wrapper .footer-up .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .wrapper .footer-up .nav ul li {
    padding-left: 20px;
  }
  footer .wrapper .footer-up .infos {
    margin-top: 90px;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    text-align: left;
  }
}

@media only screen and (min-width: 1280px) {
  body .wrapper {
    max-width: 1150px;
  }
  section.page-top h2 {
    font-size: 5.5em;
  }
}
/*# sourceMappingURL=style.css.map */