/*Important files*/
@import './colors';
@import './blocks';
@import './fonts';

/*General Atributes*/
body{
    background-color: rgb(255, 255, 255);
    font-family: vidaloka,sans-serif;
    color:rgb(34, 34, 34);
    a{
        text-decoration: none;
    }
    p{
        font-family: quickb;
    }
    p.heading{
        font-family: quickb;
    }
    p.desc{
        color:$description;
    }
    h1{
        font-size: 2.2em;
        font-family: vidaloka;
    }
    h2{
        font-size: 2.5em;
        font-family: walbaum;
    }
    h3{
        font-size: 2.1em;
        color:$h3;
    }
    .wrapper{
        max-width: 380px;
        margin:0 auto;
        padding:0 30px;
    }
    section:not(section.home_top){
        a{
            font-family: quickb;
        }
    }
    @keyframes preloaderHide {
        0%{opacity: 1;}
        100%{opacity: 0;}
    }
    .preloaderHide{
        animation: preloaderHide 1s linear;
    }
    .preloader{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #10181d;
        z-index: 5;
    }
}









//Header first version
/*
header{
    //border:1px solid #000;
    //position: fixed;
    top:0;
    padding:0px 15px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
    font-family: walbaum;
    .logo{
        width: 160px;
        height: 50px;
        @include backImg();
        background-image: url(./images/logo_min_black.png);
        background-size: contain;
    }

    nav{
        ul{
            display: none;
        }
    }
    img.responsive_menu_icon{
        filter: brightness(0.6);
        display: inline;
        width: 15px;
        transition: all 0.2s;
        cursor: pointer;
        &:hover{
            filter: brightness(0.45);
        }
    }
}
*/
header{
    //border:1px solid #fff;
    //position: fixed;
    top:0;
    padding:0px 15px;
    width: 100%;
    background-color: #fff;
    height:90px;
    //min-height: 400px;
    font-family: walbaum;
    overflow: hidden;
    .logo{
        width: 160px;
        height: 50px;
        @include backImg();
        background-image: url(./images/logo_min_black.png);
        background-size: contain;
        display: inline-block;
        position: relative;
        top:20px;
        left:50%;
        transform: translateX(-50%);
    }

    nav{
        //border:1px solid orangered;
        position: relative;
        top:30px;
        ul{
            li{
                display: flex;
                justify-content: left;
                align-items: center;
                border-bottom:1px solid rgba(27, 27, 27, 0.137);
                height: 45px;
                a{
                    font-family: quickb,sans-serif;
                    font-size: 0.9em;
                    color:$description;
                    &:hover{
                        color:rgba(0, 0, 0, 0.829);
                    }
                }
            }
            //display: none;
        }
    }
    img.responsive_menu_icon{
        filter: brightness(0.6);
        display: inline-block;
        width: 15px;
        transition: all 0.2s;
        cursor: pointer;
        &:hover{
            filter: brightness(0.45);
        }
    }
}
@keyframes headershow{
    0%{height: 90px;}
    100%{height: 400px;}
}
@keyframes headerhide{
    0%{height: 400px;}
    100%{height: 90px;}
}
header.show{
    animation: headershow 0.3s cubic-bezier(.55,.21,.72,.34) 0s;
    height: 400px;
}
header.hide{
    animation: headerhide 0.3s cubic-bezier(.55,.21,.72,.34) 0s;
    height: 90px;
}

//header.hide{}














footer{
    background-color: #e2e2d3;
    .wrapper{
    margin-top:80px;
    .footer-up{
        padding:80px 30px;
        .nav{
            display: grid;
            grid-template-columns: 1fr;
            margin-bottom: 20px;
            font-family: walbaum;
            img{
                width: 180px;
                margin:0 auto;
            }
            ul{
                padding:20px 0;
                display: grid;
                grid-template-columns: repeat(3,1fr);
                gap:10px;
            }
            ul li{
                text-align: center;
                padding:10px 0;
                a{
                    color: #000;
                    transition: all 0.1s;
                    &:hover{
                        color:rgb(90, 90, 90);
                    }
                }
            }
        }
        .infos{
            display: grid;
            grid-template-columns: 1fr;
            gap:30px;
            .info-inner{
                line-height: 140%;
                p.heading{
                    font-size: 1.2em;
                    padding-bottom: 10px;
                }
                .desc{
                    color:#797979;
                }
                a{
                    color:#797979;
                    font-family: sans-serif;
                    transition: all 0.1s;
                    &:hover{
                        color:#000;
                    }
                }
            }
        }
    }
}
    .footer-bottom{
        height: 50px;
        color:rgb(138, 138, 138);
        background-color: #10181d;
        display: flex;
        justify-content: center;
        align-items: center;
        
        p{
            width: 100%;
            text-align: center;
            font-family: quickb;
            font-size: 0.8em;
        }
    }

}
section.page-top{
    height: 490px;
    width: 100%;
    @include backImg();
    
    h2{
        width: 100%;
        position: relative;
        top:50%;
        transform: translateY(-50%);
        text-align: center;
        color:#fff;
        font-size: 4em;
    }
}
/*Currently page*/


/*Other Files*/
@import './pageHome';
@import './pageAbout';
@import './pageEvents';
@import './pageExhib';
@import './pageGallery';
@import './pageContact';


/*General Responsive media quiries*/

/*Small Tablets*/
@media only screen and (min-width:480px){
    body {
        .wrapper{
            max-width: 480px;
        }
    }
    footer{
        .footer-up{
            .nav{
                ul{
                    padding:50px 0;
                }
            }
        }
    }
}
@media only screen and (min-width:700px){
  body{
      .wrapper{
          max-width: 700px;
      }
      h2{
          font-size: 3.5em;
      }
  }  
  footer{
      .wrapper{
          .footer-up{
            .infos{
                grid-template-columns: 1fr 1fr;
                text-align: center;
            }
          }
      }
  }
}
@media only screen and (min-width:768px){
    header{
        padding:0 40px;
    }
}
@media only screen and (min-width:1000px){
    body{
        .wrapper{
            max-width: 1000px;
        }
    }
    header{
        //border:1px solid #fff;
        position: absolute;
        min-height: 110px;
        background-color: transparent;
        .logo{
            background-image: url(./images/logo_min_white.png);
            width: 200px;
            left:100px;
            top:27px;
        }
        img.responsive_menu_icon{
            display: none;
        }
        nav{
            position: absolute;
            right:50px;
            top:33px;
            ul{
                display: flex;
                flex-direction: row;
                li{
                    padding-left: 30px;
                    border:none;
                    a{
                        color: #fff;
                        transition: all 0.2s;
                        font-family: walbaum;
                        &:hover{
                            color:rgb(221, 191, 152);
                        }
                    }
                }
            }
        }
    }
    section.page-top{
        h2{
            font-size: 5em;
        }
    }
    footer{
        .wrapper{
            .footer-up{
                .nav{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    img{
                        margin: 0;
                    }
                    ul{
                        display: flex;
                        li{
                            padding-left: 20px;
                        }
                    }
                }
                .infos{
                    margin-top:90px;
                    grid-template-columns: repeat(4,1fr);
                    text-align: left;
                }
            }
        }
    }
}
@media only screen and (min-width:1280px){
    body{
        .wrapper{
            max-width: 1150px;
        }
    }
    section.page-top{
        h2{
            font-size: 5.5em;
        }
    }
}